### Importação dos dados

In [26]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja1 = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja1.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [27]:
faturamento_loja1 = loja1['Preço'].sum()
faturamento_loja2 = loja2['Preço'].sum()
faturamento_loja3 = loja3['Preço'].sum()
faturamento_loja4 = loja4['Preço'].sum()

print(f"O faturamento da loja1 é: {faturamento_loja1}")
print(f"O faturamento da loja2 é: {faturamento_loja2}")
print(f"O faturamento da loja3 é: {faturamento_loja3}")
print(f"O faturamento da loja4 é: {faturamento_loja4}")

O faturamento da loja1 é: 1534509.12
O faturamento da loja2 é: 1488459.06
O faturamento da loja3 é: 1464025.03
O faturamento da loja4 é: 1384497.58

# 2. Vendas por Categoria

In [35]:
# Análise das vendas dos produtos por categorias da loja1
produtos_por_categoria_loja1 = loja1.groupby('Categoria do Produto')['Produto'].count()

print("Quantidade de produtos vendidos por categoria na Loja 1:")
print(produtos_por_categoria_loja1)

# Para exibir a categoria mais popular
categoria_popular_loja1 = produtos_por_categoria_loja1.idxmax()
print(f"A categoria mais popular na Loja 1 é: {categoria_popular_loja1}")
print("\n")

# Análise das vendas dos produtos por categorias da loja2
produtos_por_categoria_loja2 = loja2.groupby('Categoria do Produto')['Produto'].count()

print("Quantidade de produtos vendidos por categoria na Loja 2:")
print(produtos_por_categoria_loja2)

# Para exibir a categoria mais popular
categoria_popular_loja2 = produtos_por_categoria_loja2.idxmax()
print(f"A categoria mais popular na Loja 2 é: {categoria_popular_loja2}")

Quantidade de produtos vendidos por categoria na Loja 1:
Categoria do Produto
brinquedos               324
eletrodomesticos         312
eletronicos              448
esporte e lazer          284
instrumentos musicais    182
livros                   173
moveis                   465
utilidades domesticas    171
Name: Produto, dtype: int64
A categoria mais popular na Loja 1 é: moveis


Quantidade de produtos vendidos por categoria na Loja 2:
Categoria do Produto
brinquedos               313
eletrodomesticos         305
eletronicos              422
esporte e lazer          275
instrumentos musicais    224
livros                   197
moveis                   442
utilidades domesticas    181
Name: Produto, dtype: int64
A categoria mais popular na Loja 2 é: moveis

In [34]:
# Análise das vendas dos produtos por categorias da loja3
produtos_por_categoria_loja3 = loja3.groupby('Categoria do Produto')['Produto'].count()

print("Quantidade de produtos vendidos por categoria na Loja 3:")
print(produtos_por_categoria_loja3)

# Para exibir a categoria mais popular
categoria_popular_loja3 = produtos_por_categoria_loja3.idxmax()
print(f"A categoria mais popular na Loja 3 é: {categoria_popular_loja3}")
print("\n")


# Análise das vendas dos produtos por categorias da loja4
produtos_por_categoria_loja4 = loja4.groupby('Categoria do Produto')['Produto'].count()

print("Quantidade de produtos vendidos por categoria na Loja 41:")
print(produtos_por_categoria_loja4)

# Para exibir a categoria mais popular
categoria_popular_loja4 = produtos_por_categoria_loja4.idxmax()
print(f"A categoria mais popular na Loja 4 é: {categoria_popular_loja4}")

Quantidade de produtos vendidos por categoria na Loja 3:
Categoria do Produto
brinquedos               315
eletrodomesticos         278
eletronicos              451
esporte e lazer          277
instrumentos musicais    177
livros                   185
moveis                   499
utilidades domesticas    177
Name: Produto, dtype: int64
A categoria mais popular na Loja 3 é: moveis


Quantidade de produtos vendidos por categoria na Loja 41:
Categoria do Produto
brinquedos               338
eletrodomesticos         254
eletronicos              451
esporte e lazer          277
instrumentos musicais    170
livros                   187
moveis                   480
utilidades domesticas    201
Name: Produto, dtype: int64
A categoria mais popular na Loja 4 é: moveis

# 3. Média de Avaliação das Lojas

In [31]:
# Loja 1: Calculando a média das avaliações
media_avaliacao_loja1 = loja1['Avaliação da compra'].mean()
print(f"A média das avaliações dos clientes para a Loja 1 é: {round(media_avaliacao_loja1,2)}")

# Loja 2
media_avaliacao_loja2 = loja2['Avaliação da compra'].mean()
print(f"A média das avaliações dos clientes para a Loja 2 é: {round(media_avaliacao_loja2,2)}")

# Loja 3
media_avaliacao_loja3 = loja3['Avaliação da compra'].mean()
print(f"A média das avaliações dos clientes para a Loja 3 é: {round(media_avaliacao_loja3,2)}")

# Loja 4
media_avaliacao_loja4 = loja4['Avaliação da compra'].mean()
print(f"A média das avaliações dos clientes para a Loja 4 é: {round(media_avaliacao_loja4,2)}")

A média das avaliações dos clientes para a Loja 1 é: 3.98
A média das avaliações dos clientes para a Loja 2 é: 4.04
A média das avaliações dos clientes para a Loja 3 é: 4.05
A média das avaliações dos clientes para a Loja 4 é: 4.0

# 4. Produtos Mais e Menos Vendidos

In [33]:
# Loja 1: Agrupando por produto e contando o número de vendas
vendas_por_produto_loja1 = loja1.groupby('Categoria do Produto')['Produto'].count().sort_values()

# Produto mais vendido (último no ranking)
produto_mais_vendido_loja1 = vendas_por_produto_loja1.idxmax()
quantidade_mais_vendido_loja1 = vendas_por_produto_loja1.max()
print(f"Produto mais vendido na Loja 1: {produto_mais_vendido_loja1} com {quantidade_mais_vendido_loja1} vendas.")

# Produto menos vendido (primeiro no ranking)
produto_menos_vendido_loja1 = vendas_por_produto_loja1.idxmin()
quantidade_menos_vendido_loja1 = vendas_por_produto_loja1.min()
print(f"Produto menos vendido na Loja 1: {produto_menos_vendido_loja1} com {quantidade_menos_vendido_loja1} vendas.")
print("\n")

# Loja 2: Agrupando por produto e contando o número de vendas
vendas_por_produto_loja2 = loja2.groupby('Categoria do Produto')['Produto'].count().sort_values()

# Produto mais vendido (último no ranking)
produto_mais_vendido_loja2 = vendas_por_produto_loja2.idxmax()
quantidade_mais_vendido_loja2 = vendas_por_produto_loja2.max()
print(f"Produto mais vendido na Loja 2: {produto_mais_vendido_loja1} com {quantidade_mais_vendido_loja2} vendas.")

# Produto menos vendido (primeiro no ranking)
produto_menos_vendido_loja2 = vendas_por_produto_loja1.idxmin()
quantidade_menos_vendido_loja2 = vendas_por_produto_loja1.min()
print(f"Produto menos vendido na Loja 2: {produto_menos_vendido_loja2} com {quantidade_menos_vendido_loja2} vendas.")
print("\n")

# Loja 3: Agrupando por produto e contando o número de vendas
vendas_por_produto_loja3 = loja3.groupby('Categoria do Produto')['Produto'].count().sort_values()

# Produto mais vendido (último no ranking)
produto_mais_vendido_loja3 = vendas_por_produto_loja3.idxmax()
quantidade_mais_vendido_loja3 = vendas_por_produto_loja3.max()
print(f"Produto mais vendido na Loja 3: {produto_mais_vendido_loja3} com {quantidade_mais_vendido_loja3} vendas.")

# Produto menos vendido (primeiro no ranking)
produto_menos_vendido_loja3 = vendas_por_produto_loja3.idxmin()
quantidade_menos_vendido_loja3 = vendas_por_produto_loja3.min()
print(f"Produto menos vendido na Loja 3: {produto_menos_vendido_loja3} com {quantidade_menos_vendido_loja3} vendas.")
print("\n")

# Loja 4: Agrupando por produto e contando o número de vendas
vendas_por_produto_loja4 = loja4.groupby('Categoria do Produto')['Produto'].count().sort_values()

# Produto mais vendido (último no ranking)
produto_mais_vendido_loja4 = vendas_por_produto_loja4.idxmax()
quantidade_mais_vendido_loja4 = vendas_por_produto_loja4.max()
print(f"Produto mais vendido na Loja 4: {produto_mais_vendido_loja4} com {quantidade_mais_vendido_loja4} vendas.")

# Produto menos vendido (primeiro no ranking)
produto_menos_vendido_loja4 = vendas_por_produto_loja4.idxmin()
quantidade_menos_vendido_loja4 = vendas_por_produto_loja4.min()
print(f"Produto menos vendido na Loja 4: {produto_menos_vendido_loja4} com {quantidade_menos_vendido_loja4} vendas.")

Produto mais vendido na Loja 1: moveis com 465 vendas.
Produto menos vendido na Loja 1: utilidades domesticas com 171 vendas.


Produto mais vendido na Loja 2: moveis com 442 vendas.
Produto menos vendido na Loja 2: utilidades domesticas com 171 vendas.


Produto mais vendido na Loja 3: moveis com 499 vendas.
Produto menos vendido na Loja 3: utilidades domesticas com 177 vendas.


Produto mais vendido na Loja 4: moveis com 480 vendas.
Produto menos vendido na Loja 4: instrumentos musicais com 170 vendas.

# 5. Frete Médio por Loja

In [38]:
# Loja 1: Calculando o custo médio de frete
custo_medio_frete_loja1 = loja1['Frete'].mean()
print(f"O custo médio de frete para a Loja 1 é: {round(custo_medio_frete_loja1,2)}")

# Loja 2
custo_medio_frete_loja2 = loja2['Frete'].mean()
print(f"O custo médio de frete para a Loja 2 é: {round(custo_medio_frete_loja2,2)}")

# Loja 3
custo_medio_frete_loja3 = loja3['Frete'].mean()
print(f"O custo médio de frete para a Loja 3 é: {round(custo_medio_frete_loja3,2)}")

# Loja 4
custo_medio_frete_loja4 = loja4['Frete'].mean()
print(f"O custo médio de frete para a Loja 4 é: {round(custo_medio_frete_loja4,2)}")

O custo médio de frete para a Loja 1 é: 34.69
O custo médio de frete para a Loja 2 é: 33.62
O custo médio de frete para a Loja 3 é: 33.07
O custo médio de frete para a Loja 4 é: 31.28